html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

#main {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#app {
  width: 100%;
  height: 100%;
  background: transparent linear-gradient(#e95454 0%, #ff4949 100%) 0% 0%
    no-repeat padding-box;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

.signin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 27vh;
}

.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.start-session {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 35vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  opacity: 1;
  padding: 20px;
  padding-top: 50px;
}

.container input {
  padding: 10px 5px;
  background-color: white;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
  margin-bottom: 5px;
}

.container img {
  position: absolute;
  transform: translateY(-100%);
}

.container-rating {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.session-p {
  text-align: center;
  color: white;
}

.container-rating button {
  background-color: transparent;
  border: 2px solid white;
  padding: 8px 10px;
  color: white;
  white-space: nowrap;
  margin-left: 5px;
  border-radius: 3px;
}

.container-rating button:first-of-type {
  margin-left: 0;
}

.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback h1 {
  color: white;
  width: 80vw;
}

.feedback > button,
.feedback-container > button {
  padding: 10px 30px;
  background-color: white;
  box-shadow: 0px 3px 6px #00000024;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
  color: #e95454;
  text-transform: uppercase;
}

.slider {
  color: white;
}

.active {
  background-color: white !important;
  color: #e95454 !important;
}

.active:focus {
  outline: none;
}

.tomato-signup {
  transform: translateY(-130%) !important;
}

.home-page {
  margin-top: 10vh;
}

.feedback-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback-container h1 {
  font-weight: 500;
}

.feedback-container button {
  width: fit-content;
}

.girl {
  margin: 40px 30px;
}

.timer {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  /* justify-content: center; */
  align-items: center;
  padding: 50px;
}

.timer > img {
  position: absolute;
  transform: translateY(-100%);
}

.signin > button,
.red-butt {
  padding: 10px 30px;
  background: transparent linear-gradient(111deg, #e95454 0%, #ff4949 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000024;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
  color: white;
  text-transform: uppercase;
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 50px;
  width: 80px;
  justify-content: space-between;
}

.timer-buttons button {
  padding: 5px 5px 3px 5px;
  box-shadow: 0px 1px 4px #00000040;
  border: none;
  border-radius: 5px;
  background-color: white;
}

.timer-img {
  transform: translateY(-150%) !important;
}
